.DS_Store

# clang

.clangd/
compile_flags.txt
compile_commands.json
.cache/

# zig

zig-cache/
zig-out/

# elixir

.elixir_ls/

# rust

target/

# python
__pycache__
.venv

# misc - mostly local development stuff

.envrc
.exrc
.nvimrc
tags
