# globals
#######################

.DS_Store
*.class
*.elc
*.o
*.swp
*.pyc
tags

# xcode
#######################

*.pbxuser
*.perspective
*.perspectivev3
xcuserdata
*.xccheckout

# this is for eclipse
#######################
.project

