[alias]
  co = checkout
  st = status
  com = commit
  br = branch
[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
[apply]
  whitespace = warn
[core]
  excludesfile = ~/.gitignore
  editor = vim
[push]
  default = simple
[merge]
  tool = opendiff
[mergetool]
  keepBackup = false
[user]
	name = sbl
	email = stephen.lumenta@gmail.com
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[pull]
	rebase = true
