[alias]
  co = checkout
  st = status
  com = commit
  br = branch
[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
[apply]
  whitespace = warn
[core]
  excludesfile = ~/.gitignore
  editor = vim
[push]
  default = simple
[merge]
  tool = opendiff
[mergetool]
  keepBackup = false
[user]
	name = sbl
	email = stephen.lumenta@gmail.com
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[pull]
	rebase = true
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
